<div class="row">
  <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]" id="reports-container">
    <div id="reports-container">
      <ul class="event-list">
      <% reports.each do |r| %>  
        <li>
          
          <%= af_icon_for r %>
          <div class="info">
            <h2 class="title"><%= truncate r.title, length: 25 %></h2>
            <p class="desc"><%= truncate r.reason, length: 55 %></p>
          </div>
          <div class="social">
            <ul>
              <li class="facebook" style="width:33%;">
                <%= link_to report_path(r) do %>
                  <i class="fa fa-info"></i>
                <% end %> 
              </li>
              <li class="google-plus" style="width:33%;">
                <%= link_to report_path(r), method: :delete do %>
                  <i class="fa fa-times"></i>
                <% end %> 
              </li>
            </ul>
          </div>
        </li>
      <% end %>    
      </ul>
    </div>
  </div>
</div>