 <div class="row">
  <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
    <div id="unapproved-attachments-container">
      <ul class="event-list">
      <% attachments.each do |a| %>  
        <li>
          
          <div class="info">
            <h2 class="title"><%= truncate a.upload_file_name, length: 25 %></h2>
            <p class="desc">
              Attachment for <%= a.attachable.course_code if a.attachable_type == "Course" %> 
                             <%= a.attachable.title if a.attachable_type == "Guide" %>
              <br>
              Uploader: <%= link_to a.user.username, user_path(username: a.user.username) %>
            </p>
          </div>
          <div class="social">
            <ul>
              <li class="facebook" style="width:33%;">
                <%= link_to attachment_path(a) do %>
                  <i class="fa fa-info"></i>
                <% end %> 
              </li>
              <li class="google-plus" style="width:33%;">
                <%= link_to attachment_path(a), method: :delete do %>
                  <i class="fa fa-times"></i>
                <% end %> 
              </li>
              <li class="approve" style="width:33%;">
                <%= link_to approve_path(resource: 'attachment', id: a.id), method: :patch do %>
                  <i class="fa fa-check-circle"></i>
                <% end %> 
              </li>
            </ul>
          </div>
        </li>
      <% end %>    
      </ul>
    </div>
  </div>
</div>