<div class="main-card">
<h2>Conversations</h2><hr>
  <div class="row" id="mailboxes-container">
    <div class="ui-tabgroup left-side icons-only">
      <input class="ui-tab1" type="radio" id="tgroup_b_tab1" name="tgroup_b" checked />
      <input class="ui-tab2" type="radio" id="tgroup_b_tab2" name="tgroup_b" />
      <input class="ui-tab3" type="radio" id="tgroup_b_tab3" name="tgroup_b" />
      <div class="ui-tabs">
        <label class="ui-tab1" for="tgroup_b_tab1" data-toggle="tooltip" title="Active" data-placement="left">
          <i class="fa fa-inbox"></i>
        </label>
        <label class="ui-tab2" for="tgroup_b_tab2" data-toggle="tooltip" title="Sent" data-placement="left">
          <i class="fa fa-send"></i>
        </label>
        <label class="ui-tab3" for="tgroup_b_tab3" data-toggle="tooltip" title="Trash" data-placement="left">
          <i class="fa fa-trash"></i>
        </label>
      </div>
      <div class="ui-panels">
        <div class="ui-tab1">
          <div class="row" id="inbox">
            <%= render 'box', box: @inbox %>
          </div>
          <div id="i-pag">
            <center><%= paginate @inbox, remote: true, param_name: 'ipage' %></center>
          </div>
        </div>

        <div class="ui-tab2">
          <div class="row" id="sentbox">
            <%= render 'box', box: @sent %> 
          </div>
          <div id="s-pag">
            <center><%= paginate @sent, remote: true, param_name: 'spage' %></center>
          </div>
        </div>
        <div class="ui-tab3">
          <div class="row" id="msg-trash">
            <%= render 'box', box: @trash %> 
          </div>
         <div id="t-pag">
            <center><%= paginate @trash, remote: true, param_name: 'tpage' %></center>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>

