<div class="main-card">
  <h2><%= @conversation.subject %></h2>

  <div class="conversation-container">
    <div class="timeline-centered">
    <% @conversation.receipts_for(current_user).each do |receipt| %>
      <% message = receipt.message %>
      <article class="timeline-entry">
        <div class="timeline-entry-inner">
          <div class="timeline-icon bg-success">
            <%= gravatar_for message.sender, size: 40 %>
          </div>

          <div class="timeline-label">
              <h2><%= link_to message.sender.name %> 
                <i class="fa fa-clock-o">&nbsp;&nbsp;</i><span><%= time_ago_in_words(message.created_at) %> ago</span>
              </h2>
              <blockquote>
                <%= message.body %>
              </blockquote>
          </div>
        </div>
      </article>
    <% end %>
      <article class="timeline-entry begin">
        <div class="timeline-entry-inner">
          <div class="timeline-icon" style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);">
              <i class="entypo-flight"></i> <a href="#" id="new-reply-trigger">+</a>
          </div>
        </div>
      </article>
    </div>
  </div>
  <div class="row" id="conversation-reply" hidden="true">
    <%= form_tag reply_conversation_path(@conversation), method: :post do %>
      <div class="input">
        <%= text_area_tag 'body', nil, placeholder: 'Reply...', id: 'msg', rows: 5, required: true %>
        <label for="msg">Message</label>
      </div>
      <%= submit_tag "Send Message", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>