
	<% if @user.nil? %>
		<div class ="main-card"><h2>Sorry, this user does not exist.</h2><hr></div>
	<% elsif @user.banned? %>
		<div class ="main-card">
      <h2>
        <%= @user.username %> has been banned. 
        <%= link_to 'Un-ban', unban_path(@user) if current_user.admin? %>
      </h2>
      <hr>
    </div>
	<% else %>
		
		<!-- User info here -->
		<div class="wrapper">
		<div class="wrapper-inner">
			<div class="box-wrapper">
				<div class="box">
					<div class="avatar">
						<%= gravatar_for @user, size: 300 %>
					</div>
					<div class="box-inner">
						<h3 class="name"><%= @user.username %></h3>
						<h4 class="occupation"><%= @user.about_me %></h4>
						<p class="location"><%= current_user.admin? ? "Surviving RyEng Admin" : "RyEng Student" %></p>
						<h4 class="followers-title"><%= @friends.any? ? "#{@user.username}'s recent friends:" : "0 Friends" %></h4>
						<ul class="followers-list">
						  <% @friends.each do |f| %>
                <li>
                  <%= link_to gravatar_for(f, size: 300), user_path(username: f.username) %>
                </li>
							<% end %>
						</ul>
					</div>
					<ul class="social-list">
            <% unless @user == current_user || @friends.include?(current_user) %>
              <li>
                <%= link_to user_friend_requests_path(user_id: @user.id), method: :post do %>
                  <i class="fa fa-user-plus"></i>
                <% end %>
              </li>
            <% end %>
						<li><a href="#" class="fa fa-comments-o" id="message-trigger"></a></li>
              
						<li>
              <%= link_to '#', id: 'new-report-trigger' do %>
                <i class="fa fa-flag"></i>
              <% end %>
            </li>
						<% if current_user.admin? && @user != current_user %>
							<li><a href='#' id="ban-trigger"><id="#" class="fa fa-user-times"></a></li>
              <li>
                <%= link_to remove_user_path(id: @user.id), method: :delete do %>
                  <i class="fa fa-times"></i>
                <% end %>
              </li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<% end %>	

<div class="main-card" id="contributions-panel">
  <h2>Contributions</h2>
  <div class="[ text-center nav nav-justified ]">
    <div class="row">
      <div class="col-md-12">
      <div class="tabbable-panel">
        <div class="tabbable-line">
          <ul class="nav nav-tabs ">
            <li class="active">
              <a href="#tab_default_1" data-toggle="tab">
              <h4 >Guides</h4> </a>
            </li>
            <li>
              <a href="#tab_default_2" data-toggle="tab">
              <h4 >Attachments</h4> </a>
            </li>
          </ul>
          
          <div class="tab-content">
            <div class="tab-pane active" id="tab_default_1">
              <div class="row friends-container">
              <% if @user.guides.any? %>
                <%= render 'shared/guides', guides: @user.guides %>
              <% else %>
                None
              <% end %>

              </div> 
            </div>

            <div class="tab-pane" id="tab_default_2">
              <div class="row friends-container">
                <% if @attachments.any? %>
                  <%= render 'shared/attachments', attachments: @attachments, favourite: false %>
                <% else %>
                  None
                <% end %>


              </div> 
            </div>  

          </div>
         </div>
        </div>
       </div>
      </div>    
</div>
</div>










<div class="modal fade" id="ban-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= "Banning #{@user.username}" %></h4>
      </div>
      <div class="modal-body">
        

        <%= form_tag ban_path(id: @user.id) do %>

        <div class="input">
					<%= text_area_tag :ban_reason,nil, id: 'banreason' %>
					<label for="banreason">Reason for banning</label>
				</div>

      </div>
      <div class="modal-footer">
        <%= submit_tag 'Execute Ban', class: 'btn btn-primary'%>
      </div>

      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div id="new-report-container">
  <%= render 'shared/new_report', report: @report, type: "User", reportable: @user %>
</div>

<div id="new-message-container">
  <%= render 'conversations/new_message', recipient: @user, conversation: @conversation %>
</div>



