
	<% if @user.nil? %>
		<div class ="main-card"><h2>Sorry, this user does not exist.</h2><hr></div>
	<% elsif @user.banned? %>
		<div class ="main-card">
      <h2>
        <%= @user.username %> has been banned. 
        <%= link_to 'Un-ban', unban_path(@user) if current_user.admin? %>
      </h2>
      <hr>
    </div>
	<% else %>
		
		<!-- User info here -->
		<div class="wrapper">
		<div class="wrapper-inner">
			<div class="box-wrapper">
				<div class="box">
					<div class="avatar">
						<%= gravatar_for @user, size: 300 %>
					</div>
					<div class="box-inner">
						<h3 class="name"><%= @user.username %></h3>
						<h4 class="occupation"><%= @user.about_me %></h4>
						<p class="location">RyEng Student</p>
						<h3 class="followers-title"><%= @friends.any? ? "#{@user.username}'s recent friends:" : "0 Friends" %></h3>
						<ul class="followers-list">
						  <% @friends.each do |f| %>
                <li>
                  <%= link_to display_friend_gravatar(f, @user), friend_link(f, @user) %>
                </li>
							<% end %>
							
						</ul>
					</div>
					<ul class="social-list">
            <% unless (Friendship.friendship_exists?(@user, current_user) || @user == current_user)  %>
              <li>
                <%= link_to user_friend_requests_path(user_id: @user.id), method: :post do %>
                  <i class="fa fa-user-plus"></i>
                <% end %>
              </li>
            <% end %>
						<li><a href="#" class="fa fa-comments-o"></a></li>
						<li><a href="#" class="fa fa-dribbble"></a></li>
						<li><a href="#" class="fa fa-twitter"></a></li>

						<li><a href="#" class="fa fa-pinterest"></a></li>
						<% if current_user.admin? && @user != current_user %>
							<li>
								<%= link_to '#ban-modal', id: 'ban-trigger' do %>
									<i class="fa fa-user-times"></i>
								<% end %>
							</li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
	</div>

	   	

	<% end %>	



<div class="modal fade" id="ban-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= "Banning #{@user.username}" %></h4>
      </div>
      <div class="modal-body">
        

        <%= form_tag ban_path(id: @user.id) do %>

        <div class="input">
					<%= text_area_tag :ban_reason,nil, id: 'banreason' %>
					<label for="banreason">Reason for banning</label>
				</div>

      </div>
      <div class="modal-footer">
        <%= submit_tag 'Execute Ban', class: 'btn btn-primary'%>
      </div>

      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
        




