<div class="row">
  <% attachments.each do |a| %>
    <div class="col-xs-4">
      <div class="card"> 

        <div class="favourite">
          <div class="liking-button-container">
            <% if liked?(a) %>
              <%= render 'shared/dislike_btn', resource: a %>
            <% else %>
              <%= render 'shared/like_btn', resource: a %>
            <% end %>
          </div>

        </div>               
        <div class="card-image"> 
          <%= link_to attachment_icon_for(a), a %>
        </div>
        
        <div class="card-info">
          
          <div class="name">
            <p><%= link_to truncate(a.upload_file_name, length: 10),  a %></p> 
          </div>
          
          <hr>
          
          <div class="content">
            <p>
              <b>For <%= a.attachable_type.downcase %>:</b> 
              <% if a.attachable_type == "Course" %>  
                <%= link_to a.attachable.course_code, course_path(course_code: a.attachable.course_code) %>
              <% elsif a.attachable_type == "Guide" %>
                <%= link_to a.attachable.title, a.attachable %>
              <% end %>
              <br>
              <b>Uploader: </b> 
              <%= link_to a.user.username, user_path(username: a.user.username) %>
            </p>
            <p data-no-turbolink><%= link_to download_path(id: a.id), class: 'btn btn-labeled btn-success' do %>
              <span class="btn-label"><i class="fa fa-download"></i>&nbsp;<%= a.download_count %></span>
              Download
            <% end %></p>
          
          </div>
        </div>
      </div>    
    </div>
  <% end %>
</div>