<div class="main-card">
  <hr>

  <% if @attachments.size > 1 %>
    <h2>Attachment Set</h2>
    <div id="a-pag">
      <center><%= paginate @attachments, param_name: 'apage', remote: true %></center>
    </div>
    <% else %>
     <h2><%= @attachment.upload_file_name %></h2> 
  <% end %>
  <p><strong>Description:</strong>
    <%= @attachment.description %></p>

    <%= render 'shared/attachments', attachments: @attachments %>
  
    
  <br>

<button type="button" class="btn btn-primary btn-lg" id="new-report-trigger">
 <i class="fa fa-flag"></i>
</button>

<% if current_user.admin? && !@attachment.approved? %>
  <%= button_to approve_path(resource: 'attachment', id: @attachment.id), class: 'btn btn-labeled btn-success', method: :patch do %>
    <span class="btn-label"><i class="fa fa-check-circle"></i></span>
    Approve this attachment
  <% end %> 
<% end %>
           

</div>

<div id="new-report-container">
  <%= render 'shared/new_report', report: @report, type: "Attachment", reportable: @attachment %>
</div>

