<div class="main-card">
  <h2><%= @attachment.upload_file_name %></h2> <hr>
    <div class="single-attachment">
      <%= render 'shared/attachments', attachments: Array.wrap(@attachment), favourite: true %> 
    </div>
  <hr><br>
  <% if @attachments.any? %>
    <div class="a-pag">
      <center><%= paginate @attachments, param_name: 'apage', remote: true %></center>
    </div>
  <% end %>
  <p><strong>Description:</strong>
    <%= @attachment.description.blank? ? "Not provided." : @attachment.description %></p>
    <% if @attachments.any? %>
      <center><h4>This attachment is part of a set:</h4></center>
    <% end %>
    <div id="other-attachments">
      <%= render 'shared/attachments', attachments: @attachments, favourite: false %>
    </div>

    
  <br>

<button type="button" class="btn btn-primary btn-lg" id="new-report-trigger">
 <i class="fa fa-flag"></i>
</button>

<% if current_user.admin? && !@attachment.approved? %>
  <%= button_to approve_path(resource: 'attachment', id: @attachment.id), class: 'btn btn-labeled btn-success', method: :patch do %>
    <span class="btn-label"><i class="fa fa-check-circle"></i></span>
    Approve this attachment
  <% end %> 
<% end %>
           

</div>

<div id="new-report-container">
  <%= render 'shared/new_report', report: @report, type: "Attachment", reportable: @attachment %>
</div>

