
<div class="main-card">
  <div class="[ text-center nav nav-justified ]">
    <div class="row">
      <div class="col-lg-12">
      <div class="tabbable-panel">
        <div class="tabbable-line">
          <ul class="nav nav-tabs ">
            <li class="active">
              <a href="#tab_default_1" data-toggle="tab">
              <h4 >Friends</h4> </a>
            </li>
            <li>
              <a href="#tab_default_2" data-toggle="tab">
              <h4 >Received Requests</h4> </a>
            </li>
            <li>
              <a href="#tab_default_3" data-toggle="tab">
              <h4 >Sent Requests</h4> </a>
            </li>
          </ul>
          
          <div class="tab-content">
            <div class="tab-pane active" id="tab_default_1">
              <div class="row friends-container">
              <% if @friends.any? %>
                <% @friends.each do |f| %>
                  <%= link_to user_path(username: f.username) do %>
                    <%= gravatar_for f, size: 100 %>
                    <h5><%= f.username %></h5>
                    <%= link_to 'Remove', friendship_path(f), method: :delete %>
                  <% end %>
                <% end %>
              <% else %>
              
              No friends yet. <%= link_to 'Find some', users_path %>
  
              <% end %>

              </div> 
            </div>

            <div class="tab-pane" id="tab_default_2">
              <div class="row friends-container">
              <% if @friend_requests_received.any? %>
                <% @friend_requests_received.each do |fr| %>
                  <%= link_to user_path(username: fr.user.username) do %>
                    <%= gravatar_for fr.user, size: 100 %>
                    <h5><%= fr.user.username %></h5>
                    <%= link_to friendships_path(friend_id: fr.user.id), method: :post do %>
                      <span class="fa fa-thumbs-up" data-toggle="tooltip" title="Accept"></span>     
                    <% end %>
               
                    <%= link_to friend_request_path(fr), method: :delete do %>
                      <span class="fa fa-thumbs-down" data-toggle="tooltip" title="Reject"></span>
                    <% end %>
                  <% end %>
                <% end %>
              <% else %>
                None.
              <% end %>
              </div> 
            </div>  

            <div class="tab-pane" id="tab_default_3">   
              <div class="row friends-container">
              <% if @friend_requests_sent.any? %>
                <% @friend_requests_sent.each do |fr| %>
                  <%= link_to user_path(username: fr.receiver.username) do %>
                    <%= gravatar_for fr.receiver, size: 100 %>
                    <h5><%= fr.receiver.username %></h5>
                  <% end %>
                  <%= link_to friend_request_path(fr), method: :delete do %>
                    <span class="fa fa-times" data-toggle="tooltip" title="Cancel"></span>             
                  <% end %>
                <% end %>

              <% else %>
              
              None. 
      
              <% end %>

            </div>    
            </div>
          </div>
         </div>
        </div>
       </div>
      </div>    
</div>
</div>
