
<div class="main-card">
  <div class="[ row text-center nav nav-justified ]">
    
        <a class="col-lg-3" href="#aboutModal1">
            <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/dustinlamont/128.jpg" />
        </a>

        <div id="aboutModal1" class="modalDialog">
          <div class="modalContent">
            <a href="#close" title="Close" class="close">X</a>
              <img class="img-rounded" src="https://s3.amazonaws.com/uifaces/faces/twitter/dustinlamont/128.jpg" />
              <h2>Modal Box1</h2>
              <p>Sample text 1 blah blah balh sjdfhabdhjfbadshfbajs sdjbjhbdf </p>
              <p>Sample text 2 wheeeeeee qweqweqwe qwe qw eq we qwe.</p>
            
          </div>
        </div>


        <a class="col-lg-3" href="#aboutModal2">
            <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/dakshbhagya/128.jpg" />
        </a>
        
        <div id="aboutModal2" class="modalDialog">
          <div class="modalContent">
            <a href="#close" title="Close" class="close">X</a>
              <img class="img-rounded" src="https://s3.amazonaws.com/uifaces/faces/twitter/dakshbhagya/128.jpg" />
              <h2>Modal Box1</h2>
              <p>Sample text 1 blah blah balh sjdfhabdhjfbadshfbajs sdjbjhbdf </p>
              <p>Sample text 2 wheeeeeee qweqweqwe qwe qw eq we qwe.</p>
            
          </div>
        </div>

        <a class="col-lg-3" href="#aboutModal">
            <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/annapickard/128.jpg" />
        </a>

        <a class="col-lg-3" href="#aboutModal">
            <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/waferbaby/128.jpg" />
        </a>
    </div>    
  </div>
</div>



<h1>Friends</h1><hr>
<% @friendships.each do |f| %>
  <%= link_to f.friend.username, show_profile_path(username: f.friend.username) %> 
  &nbsp;<%= link_to 'Remove', friendship_path(f), method: :delete %>
  <br>
<% end %>
<br>
<h1>Friend Requests Sent</h1><hr>

<% @friend_requests_sent.each do |f| %>
  <div class="well col-xs-6">
    <h3>Sent to</h3> <p><%= f.receiver.username %></p>
    <%= link_to friend_request_path(f), method: :delete do %>
      <span class="fa fa-times" data-toggle="tooltip" title="Cancel"></span>             
    <% end %>
  </div>
  <br>
<% end %>

<h1>Friend Requests Received</h1><hr>
<% @friend_requests_received.each do |f| %>
  <div class="well col-xs-6">
    <h3>Sent by</h3> <p><%= f.user.username %></p>
    <%= link_to friendships_path(friend_id: f.user.id), method: :post do %>
      <span class="fa fa-thumbs-up" data-toggle="tooltip" title="Accept"></span>     
    <% end %>
    OR
    <%= link_to friend_request_path(f), method: :delete do %>
      <span class="fa fa-thumbs-down" data-toggle="tooltip" title="Reject"></span>
    <% end %>
  </div>
<% end %>