
<div class="main-card">
  <div class="[ row ]">
    <div class="[ col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 ]" role="tabpanel">
            <div class="[ col-xs-4 col-sm-12 ]">
                <!-- Nav tabs -->
                <ul class="[ nav nav-justified ]" id="nav-tabs" role="tablist">
                    <li role="presentation">
                        <a href="#aboutModal1">
                            <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/dustinlamont/128.jpg" />
                            <span class="quote"><i class="fa fa-quote-left"></i></span>
                        </a>

                        <div id="aboutModal1" class="modalDialog">
                          <div class="modalContent">

                            <a href="#close" title="Close" class="close">X</a>
                            
                              <img class="img-rounded" src="https://s3.amazonaws.com/uifaces/faces/twitter/dustinlamont/128.jpg" />
                              <h2>Modal Box1</h2>
                            
                              <p>This is a sample modal box that can be created using the powers of CSS3.</p>
                              <p>You could do a lot of things here like have a pop-up ad that shows when your website loads, or create a login/register form for users.</p>
                            
                          </div>
                        </div>

                    </li>
                    <li role="presentation">
                        <a href="#aboutModal2">
                            <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/dakshbhagya/128.jpg" />
                            <span class="quote"><i class="fa fa-quote-left"></i></span>
                        </a>
                        
                        <div id="aboutModal2" class="modalDialog">
                          <div>
                            <a href="#close" title="Close" class="close">X</a>
                            <h2>Modal Box2</h2>
                            <p>This is a sample modal box that can be created using the powers of CSS3.</p>
                            <p>You could do a lot of things here like have a pop-up ad that shows when your website loads, or create a login/register form for users.</p>
                          </div>
                        </div>

                    </li>
                    <li role="presentation">
                        <a href="#aboutModal">
                            <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/annapickard/128.jpg" />
                            <span class="quote"><i class="fa fa-quote-left"></i></span>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#aboutModal">
                            <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/waferbaby/128.jpg" />
                            <span class="quote"><i class="fa fa-quote-left"></i></span>
                        </a>
                    </li>
                </ul>
            </div>
                    
        </div>
  </div>
</div>



<h1>Friends</h1><hr>
<% @friendships.each do |f| %>
  <%= link_to f.friend.username, show_profile_path(username: f.friend.username) %> 
  &nbsp;<%= link_to 'Remove', friendship_path(f), method: :delete %>
  <br>
<% end %>
<br>
<h1>Friend Requests Sent</h1><hr>

<% @friend_requests_sent.each do |f| %>
  <div class="well col-xs-6">
    <h3>Sent to</h3> <p><%= f.receiver.username %></p>
    <%= link_to friend_request_path(f), method: :delete do %>
      <span class="fa fa-times" data-toggle="tooltip" title="Cancel"></span>             
    <% end %>
  </div>
  <br>
<% end %>

<h1>Friend Requests Received</h1><hr>
<% @friend_requests_received.each do |f| %>
  <div class="well col-xs-6">
    <h3>Sent by</h3> <p><%= f.user.username %></p>
    <%= link_to friendships_path(friend_id: f.user.id), method: :post do %>
      <span class="fa fa-thumbs-up" data-toggle="tooltip" title="Accept"></span>     
    <% end %>
    OR
    <%= link_to friend_request_path(f), method: :delete do %>
      <span class="fa fa-thumbs-down" data-toggle="tooltip" title="Reject"></span>
    <% end %>
  </div>
<% end %>