<h1>
  <%= @course.course_code %> | <%= @course.title %>
  <% if user_signed_in? %>
    <%= button_to 'Enroll', course_enrollments_path(course_id: @course.id), class:'btn btn-material-lightgreen' unless current_user.courses.include? @course %>
  <% end %>
</h1>

<p><%= @course.description %></p>

<%= link_to 'Write a guide for this course!', course_path(course_id: @course.id), class: 'toggle-new-guide', remote: true %>

<div id="new-guide"></div>


  <h1>Current Guides for This Course</h1><hr>

    <% @guides.each do |guide| %>
      <%= link_to guide.title, "/guides/#{guide.id}" %>
      <p>Written by: <%= link_to "#{guide.user.username}", user_path(username: guide.user.username) %></p>  
    <% end %>


