<h1>
  <%= @course.course_code %> | <%= @course.title %>
  <% if user_signed_in? %>
    <%= button_to 'Enroll', course_enrollments_path(course_id: @course.id), class:'btn btn-material-lightgreen' unless current_user.courses.include? @course %>
  <% end %>
</h1>

<p><%= @course.description %></p>

<button type="button" class="btn btn-primary btn-lg" id="new-guide-trigger">
  New Guide
</button>

<!-- RENDER NEW GUIDE MODAL HERE -->
<div id="new-guide-container">
  <%= render 'new_guide', guide: @guide, course: @course %>
</div>
      



<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation"><a href="#approved-guides" data-toggle="tab">Guides</a></li>
    <li role="presentation"><a href="#profile" data-toggle="tab">Attachments</a></li>
    <li role="presentation"><a href="#messages"  data-toggle="tab">Messages</a></li>
    <li role="presentation"><a href="#settings"  data-toggle="tab">Settings</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade active" id="approved-guides">
      <% if @guides.any? %>
        <div id="approved-course-guides">
          <% @guides.each do |guide| %>
          <%= link_to guide.title, "/guides/#{guide.id}" %>
          <p>Written by: <%= link_to "#{guide.user.username}", user_path(username: guide.user.username) %></p>  
          <% end %>
        </div>

        <% else %>
          <p>There are no approved guides for <%= @course.course_code %> yet. </p>
        <% end %>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="profile">...</div>
    <div role="tabpanel" class="tab-pane fade" id="messages">...</div>
    <div role="tabpanel" class="tab-pane fade" id="settings">...</div>
  </div>

</div>