<div class="main-card" id="course-container">
 <hr>

  <div id="new-attachment-container">
    <%= render 'new_attachment', attachment: @attachment, course: @course %>
  </div>


<div class="row user-menu-container square">
        <div class="col-md-7 user-details">
            <div class="row bluebg">
                <div class="col-md-6 no-pad">
                    <div class="user-pad">
                        <h3><%= @course.course_code %> | <%= @course.title %></h3>
                        <br>
                      
                        <!-- NEW GUIDE BUTTON  -->
                        <button type="button" class="btn btn-labeled btn-success" id="new-guide-trigger">
                          <span class="btn-label"><i class="fa fa-pencil"></i></span>
                          New Guide
                        </button>
                      
                    </div>
                </div>
                <div class="col-md-6 no-pad">
                    <div class="course-image">
                        <img src="http://www.ryerson.ca/content/dam/feas/images/About/varibuilding.jpg" class="img-responsive thumbnail">
                    </div>
                </div>
            </div>
            <div class="row overview">
                <div class="col-md-4 user-pad text-center">
                    <h3>ENROLLMENTS</h3>
                    <h4><%= @course.enrollments.count %></h4>
                </div>
                <div class="col-md-4 user-pad text-center">
                    <h3>GUIDES</h3>
                    <h4 id="guide-count"><%= @course.guides.count %></h4>
                </div>
                <div class="col-md-4 user-pad text-center">
                    <h3>ATTACHMENTS</h3>
                    <h4 id="attachment-count"><%= @course.attachments.count %></h4>
                </div>
            </div>
        </div>
        <div class="col-md-1 user-menu-btns">
            <div class="btn-group-vertical square" id="responsive">
                <a href="#" class="btn btn-block btn-default active">
                  <i class="fa fa-graduation-cap fa-3x"></i>
                </a>
                <a href="#" class="btn btn-default">
                  <i class="fa fa-file-text-o fa-3x"></i>
                </a>
                <a href="#" class="btn btn-default">
                  <i class="fa fa-paperclip fa-3x"></i>
                </a>
                <a href="#" class="btn btn-default">
                  <i class="fa fa-cloud-upload fa-3x"></i>
                </a>
            </div>
        </div>
        <div class="col-md-4 user-menu user-pad">
            <div class="user-menu-content active">
                <h3>
                    Recently Enrolled Users
                </h3>
                <ul class="user-menu-list">

                  <% @recently_enrolled_users.each do |u| %>
                    <li>
                      <h4>
                        <%= link_to u.username, user_path(username: u.username) %>
                      </h4>
                    </li>
                  <% end %>

                    <li>
                    <% if user_signed_in? && !(current_user.courses.include? @course) %>
                      <%= link_to course_enrollments_path(course_id: @course.id), class: 'btn btn-labeled btn-success',method: :post do %>
                        <span class="btn-label"><i class="fa fa-plus"></i></span>
                        Enroll
                      <% end %>
                   
                    <% else %>
                      <%= link_to enrollment_path(id: @enrollment[0].id, from_course: @course.course_code), class: 'btn btn-labeled btn-danger',method: :delete do %>
                        <span class="btn-label"><i class="fa fa-times"></i></span>
                        Un-enroll
                      <% end %>
                    <% end %>
                    </li>
                </ul>
            </div>
            <div class="user-menu-content">
                <h3>
                  Recent Guides for <%= @course.course_code %>
                </h3>
                <ul class="user-menu-list">
                  <% if @guides.any? %>
                    <% @guides.each do |g| %>
                      <li>
                        <h4><%= link_to truncate(g.title, length: 40), g %></h4>
                        <% unless g.user.nil? %>
                          by: <%= link_to truncate("#{g.user.username}", length: 40), user_path(username: g.user.username) %>
                        <% end %>  
                      </li>
                    <% end %>  
                    <li>
                      <%= link_to guides_path(for_course: @course.course_code), class: 'btn btn-labeled btn-success' do %>
                        <span class="btn-label"><i class="fa fa-external-link"></i></span>
                        View all
                      <% end %>  
                    </li>
                  <% else %>
                    <p>No guides have been written and/or approved yet. </p>
                  <% end %>  
                    <li>
                        
                      
                    </li>
                </ul>
            </div>
            <div class="user-menu-content">
                <h3>
                  Recently approved attachments 
                  <%= link_to attachments_path(for_course: @course.id) do %>
                    <i class="fa fa-external-link" data-toggle="tooltip" data-placement="top" title="View all"></i>
                  <% end %>
                </h3>
                <div class="row">
                  <% @attachments.each do |a| %>
                    <div class="col-md-4 course-attachments">
                        
                      <div id="recent-course-attachments">
                        <div class="info">
                          
                            <p>
                              <%= attachment_icon_for a %>
                              <%= link_to (truncate a.upload_file_name, length: 12), a  %> 
                            </p>
             
                        </div>
                        <div class="stats bluebg">
                          <span class="fa fa-heart-o"> <strong><%= a.likes %></strong></span>
                          <span class="fa fa-download pull-right"> <strong><%= a.download_count %></strong></span>
                        </div>
                      </div>
                        
                    </div>
                  <% end %>
                </div>
            </div>
            <div class="user-menu-content">
                <h2 class="text-center">
                    START SHARING
                </h2>
                <center><i class="fa fa-cloud-upload fa-4x"></i></center>
                <div class="share-links">
                  <center>
                    <button type="button" class="btn btn-lg btn-labeled btn-success" id="new-attachment-trigger" style="margin-bottom: 15px;">
                      <span class="btn-label"><i class="fa fa-upload"></i></span>
                      ADD ATTACHMENT
                    </button>
                  </center>
                </div>
            </div>
        </div>
        <div class="col-lg-6" id="course-description">
  <p><%= @course.description %></p>  
</div>

    </div>



<div class="col-lg-12"><hr><br></div>


</div>  

  <!-- RENDER NEW GUIDE MODAL HERE -->
<div id="new-guide-container">
    <%= render 'new_guide', guide: @guide, course: @course %>
</div>