<h2>Guide attachments</h2> <hr>
<% attachments.each do |a| %>
  Filename: <%= a.upload_file_name %>
  <% if params[:action] == "edit" %>
    <%= link_to 'Remove attachment', guide_attachment_path(guide_id: @guide.id, id: a.id), method: :delete %> <br>
  <% end %>
  Content type: <%= a.upload_content_type %>,
  <%= (a.upload_file_size) %> <br>
  <% if a.upload_content_type.include? "image" %>
    <%= image_tag a.upload, height: "200" %>
  <% end %>
  <br>
<% end %>