<%= form_for guide, html: { class: '', multipart: true } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, class: 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :content, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :content, class: 'text_area' %>
    </div>
    <%= f.hidden_field :course_id, :value => params[:course_id] %>
  </div>

  <div class="control-group">
    <%= f.label :attachments, :class => 'control-label' %>
    <div class="controls">
      <!-- GUIDE ATTACHMENTS UPLOAD -->
      <%= file_field_tag "uploads[]", type: :file, multiple: true %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>