<h1>Guide: <%= @guide.title %></h1>
<p><%= @guide.content %></p>

<%= render 'attachments', attachments: @attachments %>

<!-- DISPLAY EDIT/DELETE LINKS FOR AUTHORIZED USERS -->
<% if user_permitted? @guide %>
<%= link_to 'Edit', edit_guide_path(@guide), class: 'btn' %>
<%= link_to 'Delete', guide_path(@guide), method: :delete %>
<% end %>