<h1>Guide: <%= @guide.title %></h1>
<p><%= @guide.content.html_safe %></p>

<%= render 'attachments', attachments: @attachments %>

<% if user_signed_in? %>
  <!-- DISPLAY EDIT/DELETE LINKS FOR AUTHORIZED USERS -->
  <% if permitted_to_modify? @guide %>
    <%= link_to 'Edit', edit_guide_path(@guide, course_code: @guide.course.course_code), class: 'btn' %>
    <%= link_to 'Delete', guide_path(@guide), method: :delete %>
  <% end %>

<button type="button" class="btn btn-primary btn-lg" id="new-report-trigger">
 <i class="fa fa-flag"></i>
</button>

<div id="new-report-container">
  <%= render 'shared/new_report', report: @report, type: "Guide", reportable: @guide %>
</div>
<% end %>