<div class="main-card">
  <h1>Guide: <%= @guide.title %></h1>
<p><%= @guide.content.html_safe %></p>

<%= render 'attachments', attachments: @attachments %>

<% if user_signed_in? %>
  <!-- DISPLAY EDIT/DELETE LINKS FOR AUTHORIZED USERS -->
  <% if permitted_to_modify? @guide %>
    <%= link_to 'Edit', edit_guide_path(@guide, course_code: @guide.course.course_code), class: 'btn btn-info' %>
    <%= link_to 'Delete', guide_path(@guide), class: 'btn btn-danger', method: :delete %>
    <% if !@guide.approved? && current_user.admin? %>
      <%= link_to 'Approve', approve_path(resource: 'guide', id: @guide.id), method: :patch, class: 'btn btn-success'%>
    <% end %>
  <% end %>
<% end %>

<div id="liking-button-container">
  <% if liked?(@guide) %>
    <%= render 'shared/dislike_btn', resource: @guide %>
  <% else %>
    <%= render 'shared/like_btn', resource: @guide %>
  <% end %>
</div>

  <button type="button" class="btn btn-primary btn-lg" id="new-report-trigger">
    <i class="fa fa-flag"></i>
  </button>
</div>

<div id="new-report-container">
  <%= render 'shared/new_report', report: @report, type: "Guide", reportable: @guide %>
</div>