<div class="main-card">
  <hr>

  <!-- REPORT CONTENT -->
<div id="report-wrapper">
  <article>

<div class="row">
  <div class="guide-author">
  <%= link_to (gravatar_for @report.reporter, size: 100), user_path(username: @report.reporter.username)%>   
  <p>
    Reported by: <br>  
    <%= link_to @report.reporter.username, user_path(username: @report.reporter.username) %> <br>
    <%= @report.updated_at.strftime("%B %d, %Y | %I:%M%p") %>
  </p>
</div>
</div >
<hr>

<div class="row" id="guide-body">
<h2>Report: <span title="<%= @report.title%>"><%= @report.title %></span></h2>
  <p><%= @report.reason %></p>
</div>
  
</article>  
</div>

<div class="row">
  <div class="report-links">
      <!-- DELETE REPORT LINK -->
      <%= link_to report_path(@report), class: 'btn btn-danger', method: :delete do %>
        <i class="fa fa-trash-o fa-lg"></i>
        Delete
      <% end %>

      <!-- VIEW (REPORTABLE) LINK -->
      <%= reportable_link @report %>
    </div>
</div>



  <hr>
</div>