  <nav>
    <ul>
      <li><a id="btn-menu"><i class="fa fa-bars"></i></a></li>
      <li><%= link_to 'Surviving RyEng', root_path, class: 'top-nav-link' %></li>
    </ul>
  </nav>

  <!-- HTML Markup for Sidebar Slide Out Menu -->
  <div id="sideNav">
    <ul>

      <li class="searchForm">
        <a href="#" class="nav-icon fa fa-search">
          <span>
        
              <%= text_field_tag 'site-wide-search', nil, placeholder: 'Search...', class: 'search' %>
           
          </span>
        </a>
      </li>
      
      
      <% if user_signed_in? %>
        <!-- SIDE NAV LINKS (USER SIGNED IN) -->
        <li>
          <%= link_to enrollments_path do %>
            <i class="nav-icon fa fa-graduation-cap" ></i>
            <div class="nav-text">My Courses</div>
          <% end %>
        </li>

        <li>
          <%= link_to friendships_path do %>
            <i class="nav-icon fa fa-group" ></i>
            <div class="nav-text">Friends</div>
          <% end %>
        </li>

        <li>
          <%= link_to edit_user_registration_path do %>
            <i class="nav-icon fa fa-gears" ></i>
            <div class="nav-text">Account</div>
          <% end %>
        </li>

        <li>
          <%= link_to '/signout' do %>
            <i class="nav-icon fa fa-sign-out" ></i>
            <div class="nav-text">Sign out</div>
          <% end %>
        </li>

      <% else %>
        <!-- SIDE NAV LINKS (USER NOT SIGNED IN) -->
        <li>
          <%= link_to new_user_session_path do %>
            <i class="nav-icon fa fa-sign-in" ></i>
            <div class="nav-text">Sign in</div>
          <% end %>
        </li>

        <li>
          <%= link_to new_user_registration_path do %>
            <i class="nav-icon fa fa-plus" ></i>
            <div class="nav-text">Sign up!</div>
          <% end %>
        </li>
      <% end %>

    </ul> 
  </div>  


