  <nav>
    <ul>
      <li><a id="btn-menu"><i class="fa fa-bars"></i></a></li>
      <li><%= link_to 'Surviving RyEng', root_path, class: 'top-nav-link' %></li>
      <li class="pull-right" id="top-right-gravatar">
        <% if user_signed_in? %>
          <%= link_to gravatar_for(current_user, size: 100), user_path(username: current_user.username) %>
          </li>
          <li class="pull-right" id="top-right-username"><p><%= current_user.username %></p></li>
        <% end %>
    </ul>
  </nav>

  <!-- HTML Markup for Sidebar Slide Out Menu -->
  <div id="sideNav">
    <ul>

      <li class="searchForm">
        <a class="nav-icon fa fa-search">
          <span>
            <%= form_tag search_path, method: :get do %>
              <%= text_field_tag :q, params[:q], placeholder: 'Search...', class: 'search', id: 'site-wide-search' %>
              <% button_tag type: 'submit', hidden: 'true', name: nil %>
            <% end %>
          </span>
        </a>
      </li>
      
      
      <% if user_signed_in? %>
        <!-- SIDE NAV LINKS (USER SIGNED IN) -->
        <% if current_user.admin? %>
          <li>
            <%= link_to admin_feed_path do %>
              <i class="nav-icon fa fa-user-secret" ></i>
              <div class="nav-text">Admin Feed</div>
            <% end %>
          </li>
        <% end %>

        <li>
          <%= link_to enrollments_path do %>
            <i class="nav-icon fa fa-graduation-cap" ></i>
            <div class="nav-text">My Courses</div>
          <% end %>
        </li>

        <li>
          <%= link_to friendships_path do %>
            <i class="nav-icon fa fa-group" ></i>
            <div class="nav-text">Friends</div>
          <% end %>
        </li>

        <li>
          <%= link_to edit_user_registration_path do %>
            <i class="nav-icon fa fa-gears" ></i>
            <div class="nav-text">Account</div>
          <% end %>
        </li>

        <li>
          <%= link_to '/signout' do %>
            <i class="nav-icon fa fa-sign-out" ></i>
            <div class="nav-text">Sign out</div>
          <% end %>
        </li>

      <% else %>
        <!-- SIDE NAV LINKS (USER NOT SIGNED IN) -->
        <li>
          <%= link_to new_user_session_path do %>
            <i class="nav-icon fa fa-sign-in" ></i>
            <div class="nav-text">Sign in</div>
          <% end %>
        </li>

        <li>
          <%= link_to new_user_registration_path do %>
            <i class="nav-icon fa fa-plus" ></i>
            <div class="nav-text">Sign up!</div>
          <% end %>
        </li>
      <% end %>

    </ul> 
  </div>  


