<!DOCTYPE html>
<html>
<head>
	<title><%= full_title(yield(:title)) %></title>
	<!-- META TAG TELLING SEARCH ENGINES WHAT KEYWORDS ARE ATTRIBUTED TO THIS WEB APP -->
	<meta name="keywords" content="ryeng, ryerson, ryerson engineering, ryerson course help,
																COE, ELE, MEC, AER, CHY, MTH">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>

	<!-- RENDER NAVIGATION -->
	<div id="nav-container">
		<%= render 'layouts/navigation' %>
	</div>

	<div class="container">	
		<!-- NOTIFICATIONS -->
		<div id="flash-messages">
			<% if params[:banned] %>
				<div class="alert alert-warning alert-dismissible" role="alert">
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				  <strong>Your account has been banned for the following reason: </strong> <%= flash[:notice] %>
				</div>
			<% else %>
				<%= render partial: "shared/flash_messages", flash: flash %>
			<% end %>
		</div>
		
		
		<!-- RENDER PAGE CONTENT -->
		<%= yield %>

		<!-- RENDER FOOTER -->
		<%= render 'layouts/footer' %>
		
		<!-- SHOW PARAMETER/CONTROLLER DEBUG INFO IN DEVELOPMENT ENV -->
		<% if Rails.env.development? && user_signed_in? && current_user.username == "Steve" %>
			 
		<% end %>
	</div>
</body>
</html>
